body,ul,li,p,h1,h2,h3,h4,h5,h6,input{
  margin: 0;  
  padding: 0;
}

ul,li{
  list-style: none;
}

a, a:hover, a:active, a:focus{
  text-decoration: none;
}

button,input{
  outline: none
}

img{
	max-width: 100%;
}

*,*::after, *::before{
  box-sizing: border-box;
}